# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Hardhat files
cache/
artifacts/
typechain/
typechain-types/

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Coverage directory
coverage/
coverage.json

# Build output
dist/
build/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
